<section id="visualization" role="figure"></section>
<section id="history">
    {{#items}} 
    <div class="history_item" {{#data-}}>
        <div class="content_title">{{title}} {{#year}}:</div>
        <div class="text">{{content}}</div>
        {{#each images}}
        <div class="image">
            <img src={{address}} alt={{image_name_alt}}>
            <div>{{image_name}}</div>
        </div>
        {{/each}}
        {{#each videos}}
        <div class="video">
            <iframe src={{link}}
            allowfullscreen title="youtube video for {{title}}">
            </iframe>
        </div>
        {{/each}}
    </div>
    {{/items}}
</section>
<section id="reference">
    <div>Resources:</div>
    <ol> 
        {{#each references}}
        <li>{{reference}}</li>
        {{/each}}
    </ol> 
 </section>
<footer>
    <button id="timeline_button" class ="active">Timeline</button> 
    <p>Contact me:</p>
    <div><a href="mailto:h.rahafrouz@gmail.com">h.rahafrouz@gmail.com</a></div>
    <div><a href="mailto:h197@student.london.ac.uk">h197@student.london.ac.uk</a></div> 
    <button id="share_content">Share Content</button>
</footer>
