<section id="ciber_crime" class="category_container">
    <div class="chart_container">
        <canvas id="crime_chart"></canvas></div>
    <div class = "chart_data_container">
        <form>
            <div class="radio">
                <p>Violation:</p>
                    <div><input type="radio" name="violation" value="Total, all violations" checked>Total, all violations</div>
            </div>
            <div class="check_box">
                <p>Geography:</p>
                    {{#each geo_crime}}
                    <div><input type="checkbox" name="geo" value="{{geo}}" checked>{{geo}}</div>
                    {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section id="e_commerce"class="category_container">
    <div class="chart_container">
        <canvas id="sale_chart"></canvas></div>
    <div class = "chart_data_container">
        <form>
            <div class="check_box">
                <p>Years:</p>
                    {{#each year_sale}}
                    <div><input type="checkbox" name="year" value="{{year}}" checked>{{year}}</div>
                    {{/each}}
            </div>
            <div class="radio" id="saletest">
                <p>Industries:</p>
                    {{#each industry_sale}}
                    <div><input type="radio" name="industry" value="{{industry}}">{{industry}}</div>
                    {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section id="internet_use_polar" class="category_container">
    <div class="chart_container">
        <canvas id="internet_polar_chart"></canvas></div>
    <div class = "chart_data_container">
        <form>
            <div class="radio" id="internet test">
                <p>Geography:</p>
                    {{#each geo_internet}}
                    <div><input type="radio" name="geo" value="{{geo}}">{{geo}}</div>
                    {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section id="internet_use_trend" class="category_container">
    <div class="chart_container">
        <canvas id="internet_line_chart"></canvas></div>
    <div class = "chart_data_container">
        <form>
            <div class="check_box">
                <p>Years:</p>
                    {{#each year_internet}}
                    <div><input type="checkbox" name="year" value="{{year}}" checked>{{year}}</div>
                    {{/each}}
            </div>
            <div class="radio" id="internet test">
                <p>Geography:</p>
                    {{#each geo_internet}}
                    <div><input type="radio" name="geo" value="{{geo}}">{{geo}}</div>
                    {{/each}}  
            </div> 
        </form>
    </div>
</section>

<section id="references"></section>
