<section class="statistics">
    <div class="chart_title">Police Reported Cybercrime Incidents by Province/Territory<a href = "https://www.statcan.gc.ca/en/start">[1]</a></div>
    <div class="chart_container">
        <canvas id="crime_chart_bar" tabindex="0"></canvas>
    </div>
    <div class = "data_container">
        <form>
            <div class="radio">
                <p>Violation:</p>
                <div><input type="radio" name="violation" value="Total, all violations" checked disabled>Total, all violations</div>
            </div>
            <div class="check_box">
                <p>Geography:</p>
                {{#each geo_cyberCrime}}
                <div><input type="checkbox" name="geo" value="{{geo}}" checked>{{geo}}</div>
                {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section class="statistics">
    <div class="chart_title">Police Reported Cybercrime Incidents by Violation Categories<a href = "https://www.statcan.gc.ca/en/start">[1]</a></div>
    <div class="chart_container">
        <canvas id="crime_chart_doughnut" tabindex="0"></canvas>
    </div>
    <div class = "data_container">
        <form>
            <div class="radio">
                <p>Years:</p>
                {{#each year_cyberCrime}}
                <div><input type="radio" name="violation" value="{{year}}" checked>{{year}}</div>
                {{/each}}
            </div>
            <div class="check_box">
                <p>Geography:</p>
                <div><input type="checkbox" name="geo" value="Canada" checked disabled>Canada</div>
            </div> 
        </form>
    </div>
</section>
<section class="statistics">
    <div class="chart_title">Sales Volume by Industry Types<a href = "https://www.statcan.gc.ca/en/start">[1]</a></div>
    <div class="chart_container">
        <canvas id="sale_chart" tabindex="0"></canvas>
    </div>
    <div class = "data_container">
        <form>
            <div class="radio" id="saletest">
                <p>Industries:</p>
                {{#each industry_eCommerce}}
                <div><input type="radio" name="industry" value="{{industry}}">{{industry}}</div>
                {{/each}}  
            </div> 
            <div class="check_box">
                <p>Years:</p>
                {{#each year_eCommerce}}
                <div><input type="checkbox" name="year" value="{{year}}" checked>{{year}}</div>
                {{/each}}
            </div>
        </form>
    </div>
</section>
<section class="statistics">
    <div class="chart_title">Internet Use Percentage of Age-Groups based on Geography<a href = "https://www.statcan.gc.ca/en/start">[1]</a></div>
    <div class="chart_container">
        <canvas id="internet_polar_chart" tabindex="0"></canvas>
    </div>
    <div class = "data_container">
        <form>
            <div class="radio" id="internet test">
                <p>Age Group:</p>
                {{#each geo_internetUse}}
                <div><input type="radio" name="geo" value="{{geo}}">{{geo}}</div>
                {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section class="statistics">
    <div class="chart_title">Internet Use Percentage of Age-Groups trend<a href = "https://www.statcan.gc.ca/en/start">[1]</a></div>
    <div class="chart_container">
        <canvas id="internet_line_chart"></canvas>
    </div>
    <div class = "data_container">
        <form>
            <div class="check_box">
                <p>Years:</p>
                {{#each year_internetUse}}
                <div><input type="checkbox" name="year" value="{{year}}" checked>{{year}}</div>
                {{/each}}
            </div>
            <div class="radio" id="internet test">
                <p>Geography:</p>
                {{#each geo_internetUse}}
                <div><input type="radio" name="geo" value="{{geo}}">{{geo}}</div>
                {{/each}}  
            </div> 
        </form>
    </div>
</section>
<section id="reference"> Resources:
    <ol>
        <li>
            <a href = "https://www.statcan.gc.ca/en/start">Statistics Canada </a>
        </li>
    </ol>
</section>
<footer>
    <button id="timeline_button" class ="active">Timeline</button>
    <p>Contact me:</p> 
    <div><a href="mailto:h.rahafrouz@gmail.com">h.rahafrouz@gmail.com</a></div>
    <div><a href="mailto:h197@student.london.ac.uk">h197@student.london.ac.uk</a></div>
</footer>
